#blog {
  .blog-slider {
    .slide {
      h2 {
        line-height: 2.8rem;
        padding: 1rem 0.5rem;
      }
      p {
        line-height: 2.2rem;
        padding: 0.2rem 0.5rem;
        font-size: 1.3rem;
      }
    }
  }
}
